.overview {
	padding-left: 8px;
}

.left-col {
	min-width: 25%;
}

#Gallery {
	user-select: none;
	height: 100%;
}

#Gallery .imageBlock {
  display: flex;
  flex-flow: column;
	top: 0;
	position: sticky;
}

#Gallery .imageBlock > img {
	height: 370px;
	cursor: pointer;
	object-fit: contain;
}

#Gallery img {
	all: revert;
	max-width: 100%;
	height: auto;
	align-self: center;
	max-height: 370px;
}

#Gallery .imageBlock .imageCaption {
	text-align: center;
	color: #666;
}

#Gallery ul {
	all: revert;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

#Gallery ul.imageRow li {
	width: 40px;
	margin: 4px;
	display: flex;
	cursor: pointer;
	border: 1px solid #666;
	padding: 1px;
	border-radius: 2px;
}

#Gallery ul.imageRow li.selected {
	border-color: #e77600;
	box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%)
}


#Gallery .overlay {
	position: fixed;
	display:flex;
	left: 0;
	top: 0;
	width:100vw;
	height:100vh;
	background: #0F111199;
	z-index: 100;
}

#Gallery .popoverGallery {
	width: calc(100% - 7.5vw);
  height: calc(100% - 25vh);
	max-width: 1980px;
	margin: auto;
	position: relative;
	box-shadow: 0 0 14px 0 #3339;
	background: white;
	border-radius:8px;
	padding: 16px 24px;
	display: flex;
}

#Gallery .largeImage {
	justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    overflow: hidden;
}

#Gallery .largeImage img {
	max-height: 100%;
}

#Gallery .largeImage.zoomable {
	cursor: zoom-in
}

#Gallery .largeImage.zoomable.zoomed {
	cursor: zoom-out;
}

#Gallery .largeImage img {
	all: revert;
	contain: content;
	margin-top:0;
	max-height: 100%;
	max-width: 100%;
}

#Gallery .largeImage.zoomed img {
	max-height: unset;
	max-width: unset;
}

#Gallery .imageColumn {
  width: 280px;
  height: 100%;
}

#Gallery .imageColumn .imageColumnTitle {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 17px;
	font-family: Verdana, sans-serif;
}

#Gallery div.imageColumn ul.imageRow {
	justify-content: flex-start;
}

#Gallery div.imageColumn ul.imageRow li {
	width: 40px;
	margin: 4px;
	display: flex;
	cursor: pointer;
	border: 2px solid #D5DBDB;
	padding: 1px;
	border-radius: 2px;
}

#Gallery div.imageColumn ul.imageRow li:hover {
	border: 2px solid #004B91;
}

#Gallery div.imageColumn ul.imageRow li.selected {
	border: 2px solid #FF8F00;
}

#Gallery .popoverClose {
	all: unset;
	cursor: pointer;
	color: #666;
	position: absolute;
  right: 0;
  top: 0;
	font-family: sans-serif;
	font-size: 24px;
	width: 28px;
	height: 28px;
	margin: 4px;
	text-align: center;
	border-radius: 3px;
}

#Gallery .popoverClose:hover {
	color: #333;
}

#Gallery .popoverClose:focus {
	background-color: transparent;
	border-color: #e77600;
	box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
	outline: 0;
}