.overview {
	padding-left: 8px;
}

.left-col {
	min-width: 25%;
}

#Gallery {
	height: 100%;
}

.imageBlock {
  display: flex;
  flex-flow: column;
	top: 0;
	position: sticky;
}

.imageBlock img {
	all: revert;
	max-width: 100%;
	height: auto;
	align-self: center;
	max-height: 370px;
}

.imageBlock .imageCaption {
	text-align: center;
	color: #666;
}

.imageBlock ul {
	all: revert;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.imageBlock ul li {
	width: 40px;
	margin: 4px;
	display: flex;
	cursor: pointer;
	border: 1px solid #666;
	padding: 1px;
	border-radius: 2px;
}

.imageBlock ul li.selected {
	border-color: #e77600;
	box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%)
}